.venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

dataset/raw/
dataset/processed/

models/saved_model/
models/tflite/
models/training_artifacts/

mobile/android/.idea/
mobile/android/.gradle/
mobile/android/build/
mobile/android/**/build/

.idea/
mobile/.idea/
.tools/
.gradle/
local.properties
*.zip